<div xmlns:th="http://www.thymeleaf.org" th:fragment="rentForm">

    <form class="form m-2 pb-5" method="post" th:action="${action}" th:object="${rentalCar}">

        <h3 class="my-3">
            <span th:if="!${editable}">Make</span>
            <span th:if="${editable}">Edit</span>
            Reservation
        </h3>
        <fieldset>

            <div class="row">

                <div class="col-3">
                    <h5 class="bg-light p-2">Reservation Details</h5>

                    <div th:if="${selectedCar} != null" class="card m-auto shadow-none border" style="width: 18rem;">
                        <img class="card-img-top img-fluid" th:src="${selectedCar.carPicUrl}" alt="Card image cap"
                             height="220">
                        <div class="card-header p-1 justify-content-center align-items-center">
                            <div class="mr-auto font-weight-light" style="font-size: 26px;">
                                <span th:text="${selectedCar.model}"></span>
                            </div>
                            <div class="text-muted">$<span th:text="${selectedCar.rentPrice}"></span> / day</div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-center align-items-center mb-2">
                                <div class="brand mr-auto">
                                    <span th:text="${selectedCar.carMake}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-9">
                    <ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
                        <li class="nav-item">
                            <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab"
                               href="#home" id="home-tab" role="tab">
                                Search Car
                            </a>
                        </li>
                        <li class="nav-item">
                            <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab"
                               href="#profile" id="profile-tab" role="tab">
                                Add Date
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="justifiedTabContent" style="min-height: 50vh;">
                        <!-- Tab 1 -->
                        <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">

<!--                            <div style="max-width: 900px; margin: auto;">-->
<!--                                &lt;!&ndash; Search &ndash;&gt;-->
<!--                                <form id="searchCarForm" method="get" action="/dashboard/car/search">-->
<!--                                    <div style="margin-top:1em;" class="row no-gutters">-->
<!--                                        <div class="col-md-12">-->
<!--                                            <div class="input-group">-->
<!--                                                <input type="text" class="form-control" id="searchString"-->
<!--                                                       name="searchString"-->
<!--                                                       placeholder="Search Cars" th:value="${searchString}"-->
<!--                                                       autofocus/>-->
<!--                                                <div class="input-group-append">-->
<!--                                                    <button id="btnSubmit" class="btn btn-outline-dark">-->
<!--                                                        Search-->
<!--                                                    </button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>-->


                            <div th:each="car, iter : ${cars}" class="my-4">
                                <div th:replace="fragments/car/carItemList :: carItemList(car= ${car}, index=${iter.index})"></div>
                            </div>


                        </div>
                        <!-- Tab 2 -->
                        <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
                            <div class="form-group">
                                <label for="pickupDate">Pickup Date</label>
                                <input id="pickupDate" name="pickupDate" type="date" class="form-control"
                                       th:value="${rentalCar.pickupDate}" autofocus>
                                <span th:if="${#fields.hasErrors('pickupDate')}" th:errors="*{rentalCar.pickupDate}"
                                      class="alert alert-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="returnDate">Return Date</label>
                                <input id="returnDate" name="returnDate" type="date" class="form-control"
                                       th:value="${rentalCar.returnDate}" autofocus>
                                <span th:if="${#fields.hasErrors('returnDate')}" th:errors="*{rentalCar.returnDate}"
                                      class="alert alert-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </fieldset>

        <div class="mb-5" style="float:right;">
            <a href="/dashboard/rentalCar/list" class="btn btn-outline-dark">Cancel</a>&nbsp;&nbsp;&nbsp;
            <button id="btnSubmit" type="submit" class="btn btn-outline-success">
                <span th:if="!${editable}">Save</span>
                <span th:if="${editable}">Update</span>
                Reservation
            </button>
        </div>

    </form>


</div>