<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>MIUCarRent</title>
    <meta th:replace="fragments/links :: links">
</head>

<body>
<div class="content">

    <div th:with="isAdmin=${#authorization.getAuthentication().getName().equals('ADMIN')},
         isCustomer=${#authorization.getAuthentication().getName().equals('CUSTOMER')}">

        <header th:replace="fragments/dashboard/navbar :: navbar"></header>
        <div layout:fragment="content"></div>

    </div>
</div>

<section th:replace="fragments/scripts :: scripts"></section>
</body>
</html>