<!DOCTYPE html>
<html lang="en" layout:decorate="fragments/dashboard/dashLayout" xmlns:layout="http://www.thymeleaf.org/"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">

    <div style="max-width: 900px; margin: auto;">
        <!-- Search -->
        <form id="searchCarForm" method="get" action="/dashboard/user/search">
            <div style="margin-top:1em;" class="row no-gutters">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchString" name="searchString"
                               placeholder="Search Users" th:value="${searchString}"
                               autofocus/>
                        <div class="input-group-append">
                            <button id="btnSubmit" type="submit" class="btn btn-outline-dark">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <div class="container-max-center p-2" style="min-height: 50vh;">
        <table class="table table-striped mt-4">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Driver License</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user, iterStat: ${users}">
                <td th:text="${user.userId}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.driversLicense}"></td>
            </tr>
            </tbody>

        </table>


    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>


</div>
</body>
</html>
