<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MIUCarRent</title>

    <head th:replace="fragments/links :: links"></head>
    <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body class="text-center">

<nav>
    <a type="button" class="btn btn-flat-info btn-back" href="/miucarrental/public/home">
        Back
    </a>
</nav>

<form class="form-signin" th:action="@{/miucarrental/public/login}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Invalid username and/or password
    </div>
    <div th:if="${param.logout}" class="alert alert-info alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        You have beed signed out
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" class="form-control" autofocus="autofocus"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" class="form-control"/>
    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block bg-primary" type="submit">Sign in</button>
    <a type="button" class="btn btn-lg btn-primary btn-block bg-secondary" href="/miucarrental/public/home">Cancel</a>
</form>


<section th:replace="fragments/scripts :: scripts"></section>
</body>
</html>
