<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer"
     class="footer my-5">
    <div class="row py-5 container-max-center text-center justify-content-center align-items-center">
        <div class="col">
            Community
        </div>
        <div class="col">
            Company
        </div>
        <div class="col">
            <h4>MUICarRent</h4>
        </div>
        <div class="col">
            Help
        </div>
        <div class="col">
            Blog
        </div>
    </div>

    <div class="m-auto text-center border-top" style="min-height: 10vh; line-height: 12;">
        © Copyright, MIUCarRent. 2020
    </div>
</div>


